<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /fabrica/sistemas/
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /fabrica/sistemas/index.html [L]
</IfModule>
